@model List<Product>

<link rel="stylesheet" href="~/css/form.css" />
<div class="main">
  <h2>Product Information</h2>
  <form asp-controller="Home" asp-action="GetUserInfo" id="ProductInfo" method="post">
    <label>Product</label>
    <select form="ProductInfo" name="ProductId" value="ProductId">
      @{
        for (int i=0; i<ViewBag.ProductCount; i++){
          <option name="@Model[i].Id" value="@Model[i].Id">@Model[i].Name</option>
        }
      }
    </select>
    <label>Merchant</label>
    <select form="ProductInfo" name="StoreName" value="StoreName">
      @{
        for (int i=0; i<@ViewBag.Merchants.Count; i++){
          <option name="@ViewBag.Merchants[i].Id" value="@ViewBag.Merchants[i].Id">@ViewBag.Merchants[i].Name [@ViewBag.Merchants[i].Platform] </option>
        }
      }
    </select>
    <label>Variation (if any)</label>
    <input class="input-text" name="variation" id="variation" />
    <label>Reference Number</label>
    <input class="input-text" name="ReferenceNumber" id="ReferenceNumber" required />
    <label>Sales Order Number</label>
    <input class="input-text" name="SalesOrderNumber" id="SalesOrderNumber" required />
    <label>Problem Description</label>
    <input class="input-text" name="ProblemDescription" id="ProblemDescription" required />
    <label>Date Received</label>
    <input class="input-date" type="date" name="date" id="date" required/>
    <label>Pictures / Videos of Problem</label>
    <p style="color:grey;">(implement later)</p>
    <div class="nextButton-container">
      <button class="next-button" type="submit">Next</button>
    </div>
  </form>
</div>